# Exlude python build & distribution directories
build/
dist/
*.egg-info*

# Exlude *.pyc
*.pyc

# Exclude test-related items
.tox/*

# Exclude coverage
.coverage
test-reports

# Exclude Python Virtual Environment
venv/
.venv/

# Exlude IDE related files
.idea/*
.vscode/*

# Exclude generated docs
docs/_build