# https://python-poetry.org/docs/configuration/#using-environment-variables
export POETRY_VIRTUALENVS_IN_PROJECT=1
export POETRY_VIRTUALENVS_OPTIONS_NO_PIP=1
export POETRY_VIRTUALENVS_OPTIONS_NO_SETUPTOOLS=1
export POETRY_VIRTUALENVS_OPTIONS_SYSTEM_SITE_PACKAGES=0
